

/*/accessorios/*/
*{
  padding:0px;
  margin:0px;
 
}

  
  .AccessoriosMain {
    display:grid ;
    grid-area:iphones ;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 0em;

    .Titulos{
      display: flex;
      font-style: normal;
      font-weight: bolder;
      font-size: 1em;
      text-align: center;
      background-color: gray;
      padding: 0em 9em;
      margin: 1em 1em;
      h1 {
        font-size: 10em;
        font-weight: normal;
      }
  }
  .airpods{
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 600px;
        width: 400px;
        border: 0.5em solid black;
      }
      .Caracteristica{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0em 17em;
        h2{
            
            font-style:oblique;
            font-weight: bolder;
            font-size: 4em;
        }
        li{
            font-size:2em ;
            font-style: normal;
        }
    }
  }
}
  
  .compra a img {
    height: 100px;
    width: 100px;
    border: 0.5em solid black;
  }
  
  

  
  section.fundas {
    display: grid;
  }
  
  section.Vidrios {
    display: grid;
  }
  
  .fundas h1, .vidrios h1 {
    font-size: 1em;
    font-weight: bolder;
  }



  /*/Redes/*/
  section.redes{
    display:flex;
    justify-items: stretch;
    justify-content: center;
    h1{
      text-align: center;
      font-size: 3em;
      margin-bottom: 2em;
      font-weight: bolder;  
        }
     ul{
      display: flex;
      list-style-type: none;
      align-content: center;
      flex-direction: column;
        li{
          margin-bottom: 1em;
          &:hover{
            transform: scale(1.1);
        }
          a{
            width:5em; 
            height:3em;
            img{
              width: 100px;
              height: 8vh;
              border: 0.5em double black;
              }
            } 
          
        }
          }
        }


/*/footer /*/
.footer{
    display: flex;
    background-color: beige;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    
    .ubicacionC{
      display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     align-items: center;
     h2{
      text-align: justify;
      font-weight:bolder ;
      font-size: 0.85em;
    }
    
           h1{
            display: flex;
            text-align: center;
            font-size: 2em;
            font-weight: bolder ;
          }
     
    }
  }
  .HeaderSectores{
    grid-area: HeaderSectores;
  }
  .RC{
    grid-area: RC;
  }

  .AccessoriosMain {
    grid-area:cabecera;
  }
  
  .fundas{
    grid-area: fundas;
  }
  
  .Vidrios {
    grid-area: vidrios;
  }

  .redes {
    grid-area: redes;
  }
  
  .footer {
    grid-area: footer;
  }
  
  .AllAccesorios {
    background-color: beige;
    height: 90%;
    width: 100vh;
    color: black;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,auto);
    gap: 20px;
    grid-template-areas: "HeaderSectores" 
                          "RC" 
                          "cabecera"
                          "AccessoriosMain"
                          "fundas"
                          "vidrios "
                         "redes" 
                          "footer";
  }




@media  (min-width: 580px){
  

  .AllAccesorios {
      background-color: aquamarine;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8,auto);
       gap: 10px;
       grid-template-areas: "header" 
       "RC" 
       "cabecera"
        "AccessoriosMain"
       "fundas"
       "vidrios "
      "redes" 
       "footer";
    }
}