/* FRIST MOBILE*/
*{
  padding:0px;
  margin:0px;
 
}

body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

header {
    display: flex;
    background-color: beige;
    background-size: cover;
    padding: 2em;
    margin-bottom: 1em;

    .cabecera {
        display: flex;
    
        .logo {
            display: flex;
            img {
                height: 4em;
                width: 4em;
              }
          }
        h1 {
            display: flex;
            color: black;
            text-align: center;
            font-style: italic;
            font-size: 3em;
          }
      }

  }

/*carrusel*/

  .CarruselMain{
    display: none;
    .carousel-item{
                width:620px;
                height:450px;
    }
  }
  
  /*/ index/*/
  section.menuPricipal{
    display:flex;
    flex-direction: column;
    margin:auto;
    .tituloMenu{
        display:flex;
        flex-flow: row nowrap;
        justify-content:center;
        align-content: space-between;
        padding: 2em;
        font-weight:lighter;
        text-decoration: none;
        h1 {
            font-style:italic;
            font-weight:bolder;
            font-size:3em;
          }
      }
      

    .tituloMenuprincipal {
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding: auto;
        .registro{
            padding: 1em;
            margin: 1em;
            img {
                width: 4em;
                height: 4em;
                border: 1em double black;
              }
            
          }
          .registro:hover {
            transform: scale(1.5);
          }
          
          .carrito {
            padding: 1em;
            margin: 1em;
            img {
                width: 4em;
                height: 4em;
                border: 1em double black;
              }
              
              
          }
          carrito:hover {
            transform: scale(1.5);
          }
    
      }
  }

  /*/nav/*/
  .listas {
    display: flex;
    align-items: center;
    align-content: center;
      margin: auto;
    ul {
      
         li{
             list-style-type: none;
             padding: 2em;
              &:hover {
                       transform: scale(1.1);
                       }
                a{
                   img {
                    width: auto;
                    height: 15em;
                           border: 1em solid black;
                        }
                  }
            }
          }  
  }
  section.miniBanners {
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    align-content: center;

    .metodoPago{
      display: flex;
      flex-flow: row wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5em;
      
        img {
           
          height: 10em;
          width: 13em;
      
            border: 0.125em solid black;
          }
        h2 {
          font-weight: bolder; 
            font-size: 3em;
            text-align: justify;
          }
      }
  
      .contacto {
        display: flex;
        flex-flow: row wrap;
        border: 0.25em double black;
        justify-content: center;
        legend{
          float: none;
          width: 90%;
          padding: 0;
          margin-bottom: 0.5rem;
          font-size: calc(1.275rem + .3vw);
          line-height: inherit;

        }
      }
  }
  
  /*/redes/*/
  section.redes{
    display:flex;
    padding: auto;
    h1{
      text-align: center;
      font-size: 3em;
      margin-bottom: 2em;
      font-weight: bolder;  
        }
     ul{
        display: flex;
      list-style-type: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        li{
          margin-bottom: 1em;
          &:hover{
            transform: scale(1.1);
        }
          a{
            width:5em; 
            height:3em;
           
            img{
              width: 100px;
              height: 8vh;
              border: 0.5em double black;
              }
            } 
          
        }
          }
        }
      

/*/footer /*/
.footer{
  display: flex;
  background-color: beige;
  justify-items: center;
  flex-direction: column;
  
  .ubicacionC{

    display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   align-items: center;
   h2{
    text-align: justify;
    font-size: 0.75em;
    font-weight:bolder ;
  }
     img {
           height:6em  ;
            width:7em ;
         }
         h1{
          text-align: center;
          font-size: 4em;
          font-weight: bolder ;
        }
   
  }
}
  
  /*/declaro area en grilla /*/
  header {
    grid-area: index;
  }
  .menuPricipal {
    grid-area: menuPrincipal;
  }
  .CarruselMain{
    grid-area: CarruselMain;
  }
  .listas {
    grid-area: listas;
  }
  .miniBanners {
    grid-area: miniBanners;
  }
  .redes {
    grid-area: redes;
  }
  .footer {
    grid-area: footer;
  }
  
  @media screen and (min-width:580px) {
    .AllIndex {
      align-items: stretch;
      background-color: aquamarine;
      grid-template-columns: auto auto;
      grid-template-rows: repeat(7,auto) ;
      display: grid;
       gap: 10px;
       grid-template-areas:
                        "index index " 
                        "CarruselMain CarruselMain  "
                        "menuPrincipal menuPrincipal"
                        "listas listas" 
                        "miniBanners miniBanners"
                        "redes redes "
                        " footer footer" ;
    }
    .CarruselMain{
      display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    header {
      margin-bottom: 1em;
      align-items: center;
      justify-content: center;
  }
    
  
  }
 @media (min-width:975px){
  .AllIndex {
    align-items: stretch;
    background-color: aquamarine;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(7,auto) ;
    display: grid;
     gap: 10px;
     grid-template-areas:
                      "index index " 
                      "CarruselMain CarruselMain  "
                      "menuPrincipal menuPrincipal"
                      "listas listas" 
                      "miniBanners miniBanners"
                      "redes redes "
                      " footer footer" ;
  }
  .CarruselMain{
    display: flex;
      flex-direction: column;
      align-items: center;
  
  }


  body {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}
header {
   padding: 7em;
    margin-bottom: 1em;

  .cabecera {
  
      .logo {
          
          img {
              height: 3em;
              width: 3em;
            }
        }
      h1 {
        
          font-size: 3em;
        }
    }
}

header {
    display: flex;
    background-color: beige;
    background-size: cover;
    padding: 2em;
    margin-bottom: 1em;
    justify-content: center;


    .cabecera {
        display: flex;
    
        .logo {
            display: flex;
            img {
                height: 4em;
                width: 4em;
              }
          }
        h1 {
            display: flex;
            color: black;
            text-align: center;
            font-style: italic;
            font-size: 3em;
          }
      }

  }

/*carrusel*/

  .CarruselMain{
    display: none;
  }
  
  /*/ index/*/
  section.menuPricipal {
    display: flex;
    flex-direction: column;
    margin: auto;
    .tituloMenu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: space-between;
        padding: 2em;
        font-weight: lighter;
        text-decoration: none;
        h1 {
            font-style: italic;
            font-weight: bolder;
            font-size: 3em;
          }
      }
      

    .tituloMenuprincipal {
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding: auto;
        .registro{
            padding: 1em;
            margin: 1em;
            img {
                width: 4em;
                height: 4em;
                border: 1em double black;
              }
            
          }
          .registro:hover {
            transform: scale(1.5);
          }
          
          .carrito {
            padding: 1em;
            margin: 1em;
            img {
                width: 4em;
                height: 4em;
                border: 1em double black;
              }
              
              
          }
          carrito:hover {
            transform: scale(1.5);
          }
    
      }
  }

  /*/nav/*/
  .listas {
    display: flex;
    align-items: center;
    align-content: center;
      margin: auto;
      justify-content: center;

    ul {
      
         li{
             list-style-type: none;
             padding: 2em;
              &:hover {
                       transform: scale(1.1);
                       }
                a{
                   img {
                    width: auto;
                    height: 15em;
                           border: 1em solid black;
                        }
                  }
            }
          }  
  }
  section.miniBanners {
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    align-content: center;

    .metodoPago{
      display: flex;
      flex-flow: row wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5em;
      
        img {
           
          height: 10em;
          width: 13em;
      
            border: 0.125em solid black;
          }
        h2 {
          font-weight: bolder; 
            font-size: 3em;
            text-align: justify;
          }
      }
  
      .contacto {
        display: flex;
        flex-flow: row wrap;
        border: 0.25em double black;
        justify-content: center;
        legend{
          float: none;
          width: 90%;
          padding: 0;
          margin-bottom: 0.5rem;
          font-size: calc(1.275rem + .3vw);
          line-height: inherit;

        }
      }
  }
  
  /*/redes/*/
  section.redes{
    display:flex;
    padding: auto;
    h1{
      text-align: center;
      font-size: 3em;
      margin-bottom: 2em;
      font-weight: bolder;  
        }
     ul{
        display: flex;
      list-style-type: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        li{
          margin-bottom: 1em;
          &:hover{
            transform: scale(1.1);
        }
          a{
            width:5em; 
            height:3em;
           
            img{
              width: 100px;
              height: 8vh;
              border: 0.5em double black;
              }
            } 
          
        }
          }
        }
      

/*/footer /*/
.footer{
  display: flex;
  background-color: beige;
  justify-items: center;
  flex-direction: column;
  
  .ubicacionC{

    display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   align-items: center;
   h2{
    text-align: justify;
    font-size: 0.75em;
    font-weight:bolder ;
  }
     img {
           height:6em  ;
            width:7em ;
         }
         h1{
          text-align: center;
          font-size: 4em;
          font-weight: bolder ;
        }
   
  }
}
 }

 @media (min-width:1220px){

 
  .AllIndex {
    align-items: stretch;
    height: 100vh;
    background-color: rgb(201, 21, 21);
    color: black;
    font-weight: bolder;
    display: grid;
    font-family: "Roboto", sans-serif;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(7,auto);
     gap: 15px;
     grid-template-areas:
                      " index index  index " 
                      "CarruselMain  CarruselMain  CarruselMain "
                      "menuPrincipal menuPrincipal menuPrincipal "
                      "listas  listas  listas " 
                      "miniBanners miniBanners miniBanners" 
                      "redes redes redes "
                      " footer footer footer ";
}
body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

.CarruselMain{
  display: flex;
    flex-direction: column;
    align-items: center;

}

header {
    display: flex;
    background-color: beige;
    background-size: cover;
    padding: 6em;
    justify-content: center;
    margin-bottom: 1em;

    .cabecera {
        display: flex;
    
        .logo {
            display: flex;
            img {
                height: 8em;
                width: 8em;
              }
          }
        h1 {
            display: flex;
            color: black;
            text-align: center;
            font-style: italic;
            font-size: 8em;
          }
      }

  }

/*carrusel*/

  
  /*/ index/*/
  section.menuPricipal {
    display: flex;
    flex-direction: column;
    margin: auto;
    .tituloMenu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: space-between;
        padding: 2em;
        font-weight: lighter;
        text-decoration: none;
        h1 {
            font-style: italic;
            font-weight: bolder;
            font-size: 9em;
          }
      }
      

    .tituloMenuprincipal {
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        .registro{
            padding: 1em;
            margin: 1em;
            img {
                width: 7em;
                height: 7em;
                border: 1em double black;
              }
            
          }
          .registro:hover {
            transform: scale(1.5);
          }
          
          .carrito {
            padding: 1em;
            margin: 1em;
            img {
                width: 7em;
                height: 7em;
                border: 1em double black;
              }
              
              
          }
          carrito:hover {
            transform: scale(1.5);
          }
    
      }
  }

  /*/nav/*/
  .listas {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

      margin: auto;
    ul {
      
         li{
             list-style-type: none;
             padding: 2em;
              &:hover {
                       transform: scale(1.1);
                       }
                a{
                   img {
                    width: auto;
                    height: 45vh;
                           border: 1em solid black;
                        }
                  }
            }
          }  
  }
  section.miniBanners {
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    align-content: center;

    .metodoPago{
      display: flex;
      flex-flow: row wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5em;
      
        img {
           
          height: 10em;
          width: 13em;
      
            border: 0.125em solid black;
          }
        h2 {
          font-weight: bolder; 
            font-size: 3em;
            text-align: justify;
          }
      }
  
      .contacto {
        display: flex;
        flex-flow: row wrap;
        border: 0.25em double black;
        justify-content: center;
        legend{
          float: none;
          width: 90%;
          padding: 0;
          margin-bottom: 0.5rem;
          font-size: calc(1.275rem + .3vw);
          line-height: inherit;

        }
      }
  }
  
  /*/redes/*/
  section.redes{
    display:flex;
    padding: auto;
    h1{
      text-align: center;
      font-size: 3em;
      margin-bottom: 2em;
      font-weight: bolder;  
        }
     ul{
        display: flex;
      list-style-type: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        li{
          margin-bottom: 1em;
          &:hover{
            transform: scale(1.1);
        }
          a{
            width:5em; 
            height:3em;
           
            img{
              width: auto;
              height: 14vh;
              border: 0.5em double black;
              }
            } 
          
        }
          }
        }
      

/*/footer /*/
.footer{
  display: flex;
  background-color: beige;
  justify-items: center;
  flex-direction: column;
  
  .ubicacionC{

    display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   align-items: center;
   h2{
    text-align: justify;
    font-size: 1.75em;
    font-weight:bolder ;
  }
     img {
           height:6em  ;
            width:7em ;
         }
         h1{
          text-align: center;
          font-size: 4em;
          font-weight: bolder ;
        }
   
  }
}

 }
