header {
    display: grid;
    background-color: blueviolet;
    background-size: cover;
    padding: 7em;
    margin-bottom: 1em;

    .cabecera {
        display: flex;
    
        .logo {
            display: flex;
            img {
                height: 7em;
                width: 7em;
              }
          }
        h1 {
            display: flex;
            color: black;
            text-align: center;
            font-style: italic;
            font-size: 7em;
          }
      }

  }
  
  /*/ index/*/
  section.menuPricipal {
    display: grid;
    margin-top: 15em;
    margin-bottom: 8em;
    .tituloMenu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: space-between;
        padding: 2em;
        font-weight: lighter;
        text-decoration: none;
        h1 {
            font-style: italic;
            font-weight: bolder;
            font-size: 8em;
          }
      }
      

    .tituloMenuprincipal {
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding: auto;
        .registro{
            padding: 1em;
            margin: 1em;
            img {
                width: 7em;
                height: 7em;
                border: 1em double black;
              }
            
          }
          .registro:hover {
            transform: scale(1.5);
          }
          
          .carrito {
            padding: 1em;
            margin: 1em;
            img {
                width: 7em;
                height: 7em;
                border: 1em double black;
              }
              
              
          }
          carrito:hover {
            transform: scale(1.5);
          }
    
      }
  }
  .CarruselMain{
    display:  grid;
  }
  /*/nav/*/
  .listas {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25fr;
    gap: 15px;
    justify-items: center;
    ul {
        margin-top: 1cm;
        margin-bottom: 2cm;
         li{
             list-style-type: none;
              &:hover {
                       transform: scale(1.5);
                       }
                a{
                   img {
                        width: 90%;
                         height: 20em;
                           border: 1em solid black;
                        }
                  }
            }
          }  
  }
  section.miniBanners {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:100%;
    .metodoPago {
      display: flex;
      flex-flow: row wrap;
      font-size: 1cm;
      flex-direction: column;
      margin-bottom: 1.5em;
      justify-content: center;
      align-items: center;
        img {
            padding: 0.5em;
            height: 7em;
            width: 15em;
          }
        h2 {
            font-size: 1em;
            text-align: justify;
          }
      }
  
      .contacto {
        display: flex;
        flex-flow: row wrap;
        border: 0.25em double black;
        padding: auto;
        margin: auto;
        font-size: 1cm;
        text-align: right;
        font-weight: bolder;   
      }
  }
  
  /*/redes/*/
  section.redes{
    display:flex;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 2em;
    h1{
      text-align: center;
      font-size: 5em;
      margin-bottom: 1em;
      font-weight: bolder;  
        }
     ul{
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        li{
          &:hover{
            transform: scale(1.5);
        }
          a{
            width:5em; 
            height:3em;
            padding: 2em;
            img{
              width: 300px ;
              height: 100px;
              border: 0.5em double black;
              }
            } 
          
        }
          }
        }
      

/*/footer /*/
.footer{
    display: flex;
    padding: 2em;
    background-color: $fondos;
    h1{
        text-align: justify;
        font-size:1em ;
        font-weight:bolder ;
        img {
              height:10em  ;
               width:10em ;
            }
}
}
  
  /*/declaro area en grilla /*/
  header {
    grid-area: index;
  }
  .menuPricipal {
    grid-area: menuPrincipal;
  }
  .CarruselMain{
    grid-area: CarruselMain;
  }
  .listas {
    grid-area: listas;
  }
  .miniBanners {
    grid-area: miniBanners;
  }
  .redes {
    grid-area: redes;
  }
  .footer {
    grid-area: footer;
  }

  .AllIndex {
      background-color: white;
      color: black;
      font-weight: bolder;
      font-family: "Roboto", sans-serif;
      
      display: grid;
      grid-template-columns: 1fr 1fr;
       gap: 15px;
       grid-template-areas:
                        "index index" 
                        "menuPrincipal menuPrincipal"
                        "CarruselMain CarruselMain"
                        "listas listas" 
                        "miniBanners miniBanners" 
                        "redes redes"
                        "footer footer";
  }