/*/Redes/*/

*{
    padding:0px;
    margin:0px;
   
  }

  section.redes{
    display:flex;
    justify-items: stretch;
    justify-content: center;
    h1{
      text-align: center;
      font-size: 3em;
      margin-bottom: 2em;
      font-weight: bolder;  
        }
     ul{
      display: flex;
      list-style-type: none;
      align-content: center;
      flex-direction: column;
        li{
          margin-bottom: 1em;
          &:hover{
            transform: scale(1.1);
        }
          a{
            width:5em; 
            height:3em;
            img{
              width: 100px;
              height: 8vh;
              border: 0.5em double black;
              }
            } 
          
        }
          }
        }


/*/footer /*/
.footer{
    display: flex;
    background-color: beige;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    
    .ubicacionC{
      display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     align-items: center;
     h2{
      text-align: justify;
      font-weight:bolder ;
      font-size: 0.85em;
    }
    
           h1{
            display: flex;
            text-align: center;
            font-size: 2em;
            font-weight: bolder ;
          }
     
    }
  }
/*DECALARACION DE AREA*/

.HeaderSectores{
   grid-area:  HeaderSectores;
}

.headerRC{
        grid-area:RC;
}

.cabeceraMain{
    grid-area:cabecera;
}


.listamatenimiento{
            grid-area: listamatenimiento;
}

.redes{
            grid-area: redes;
}

.footer{
    grid-area: footer;
}


.AllServicio{
    background-color: aquamarine;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,auto);
     gap: 10px;
    grid-template-areas: 
    
                        "HeaderSectores"
                        "cabeceraMain" 
                        "listamatenimiento" 
                        "redes"
                        "footer";
  }


  @media (min-width: 580px){


    .AllServicio{
        background-color: aquamarine;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,auto);
         gap: 10px;
        grid-template-areas: 
        
                            "HeaderSectores"
                            "cabeceraMain" 
                            "listamatenimiento" 
                            "redes"
                            "footer";
      }
    
  }
