@import "https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@200;300&family=Roboto:ital,wght@0,100;0,300;1,700&display=swap";
/*/accessorios/*/
* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: beige;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.HeaderSectores {
  display: grid;
  grid-template-columns: auto;
  background-size: cover;
  padding: 4em;
  background-color: beige;
}

.cabecera {
  display: flex;
  background-size: cover;
  padding: 2em;
  margin-bottom: 1em;
  justify-content: center;
}
.cabecera .cabecera {
  display: flex;
  justify-content: center;
}
.cabecera .cabecera .logo {
  display: flex;
}
.cabecera .cabecera .logo img {
  height: 4em;
  width: 4em;
}
.cabecera .cabecera h1 {
  display: flex;
  color: black;
  text-align: center;
  font-style: italic;
  font-size: 2em;
}

.headerRC {
  display: flex;
  padding: 2em 4em;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.headerRC .registroSector a {
  display: flex;
}
.headerRC .registroSector a img {
  width: 3em;
  height: 3em;
  border: 1em double black;
}
.headerRC .carritoSector a {
  display: flex;
}
.headerRC .carritoSector a img {
  width: 3em;
  height: 3em;
  border: 1em double black;
}

section.cabeceraMain {
  display: grid;
  justify-items: center;
  justify-content: center;
}

.cabeceraSectores {
  display: flex;
  margin-top: 9em;
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}
.cabeceraSectores li {
  background-color: white;
  margin-bottom: 5em;
  margin-top: 0em;
  border: 0.5em double black;
  list-style-type: none;
}
.cabeceraSectores li:hover {
  transform: scale(1.25);
}
.cabeceraSectores li a {
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  list-style-type: none;
  letter-spacing: 0.5em;
  text-align: center;
}

.AccessoriosMain {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.AccessoriosMain .Titulos {
  display: flex;
  font-style: normal;
  font-weight: bolder;
  font-size: 1.25em;
  text-align: center;
  background-color: gray;
  padding: 1em 9em;
  margin: 1em 0em;
}
.AccessoriosMain .Titulos h1 {
  font-size: 1em;
  font-weight: normal;
}
.AccessoriosMain .airpods {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}
.AccessoriosMain .airpods img {
  height: auto;
  width: 50vh;
}
.AccessoriosMain .airpods .Caracteristica {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 17em;
  margin-top: 3em;
}
.AccessoriosMain .airpods .Caracteristica h2 {
  font-style: oblique;
  font-weight: bolder;
  font-size: 2em;
}
.AccessoriosMain .airpods .Caracteristica li {
  font-size: 1.25em;
  margin-top: 1em;
  font-style: normal;
}

section.fundas {
  display: grid;
  justify-content: center;
}
section.fundas img {
  height: auto;
  width: 65vh;
  margin: 5em 0em;
}
section.fundas h1 {
  font-size: 4em;
  margin: 3em 1em;
  font-weight: bolder;
  background-color: gray;
  padding: 1em 2em;
}

section.Vidrios {
  display: grid;
  justify-content: center;
}
section.Vidrios h1 {
  font-size: 4em;
  margin: 3em 1em;
  font-weight: bolder;
  background-color: gray;
  padding: 1em 2em;
}

/*/Redes/*/
section.redes {
  display: flex;
  justify-items: stretch;
  justify-content: center;
  flex-direction: column;
  margin-top: 3em;
}
section.redes h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 2em;
  font-weight: bolder;
}
section.redes ul {
  display: flex;
  list-style-type: none;
  align-content: center;
  flex-direction: column;
}
section.redes ul li {
  margin-bottom: 1em;
}
section.redes ul li:hover {
  transform: scale(1.1);
}
section.redes ul li a {
  width: 5em;
  height: 3em;
}
section.redes ul li a img {
  width: 100px;
  height: 8vh;
  border: 0.5em double black;
}

/*/footer /*/
.footer {
  display: flex;
  background-color: beige;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer .ubicacionC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.footer .ubicacionC h2 {
  text-align: justify;
  font-weight: bolder;
  font-size: 0.85em;
}
.footer .ubicacionC h1 {
  display: flex;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}

.HeaderSectores {
  grid-area: HeaderSectores;
}

.RC {
  grid-area: RC;
}

.AccessoriosMain {
  grid-area: cabecera;
}

.fundas {
  grid-area: fundas;
}

.Vidrios {
  grid-area: vidrios;
}

.redes {
  grid-area: redes;
}

.footer {
  grid-area: footer;
}

@media (min-width: 580px) {
  .AllAccesorios {
    display: grid;
    align-items: stretch;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(7, auto);
    gap: 20px;
    grid-template: "HeaderSectores " "RC" "cabecera" "fundas" "vidrios " "redes" "footer";
  }
}
@media (min-width: 975px) {
  .AllIphone {
    background-color: beige;
    color: black;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    display: grid;
    align-items: stretch;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(7, auto);
    gap: 20px;
    grid-template: "HeaderSectores HeaderSectores " "RC RC " "cabecera cabecera " "fundas fundas " "vidrios vidrios " "redes redes" "footer footer";
  }
}
@media (min-width: 975px) {
  .AllIphone {
    background-color: beige;
    color: black;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(7, auto);
    gap: 20px;
    grid-template: "HeaderSectores HeaderSectores HeaderSectores" "RC RC RC" "cabecera cabecera cabecera" "fundas fundas fundas" "vidrios vidrios vidrios  " "redes redes redes" "footer footer footer";
  }
}
/* FRIST MOBILE*/
* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: beige;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

header {
  display: flex;
  background-size: cover;
  padding: 2em;
  margin-bottom: 1em;
  justify-content: center;
}
header .cabecera {
  display: flex;
  justify-content: center;
}
header .cabecera .logo {
  display: flex;
}
header .cabecera .logo img {
  height: 4em;
  width: 4em;
}
header .cabecera h1 {
  display: flex;
  color: black;
  text-align: center;
  font-style: italic;
  font-size: 2em;
}

/*carrusel*/
.CarruselMain {
  display: none;
}
.CarruselMain .carousel-item {
  width: 100vh;
  height: auto;
}

/*/ index/*/
section.menuPricipal {
  display: flex;
  flex-direction: column;
  margin: auto;
}
section.menuPricipal .tituloMenu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: space-between;
  padding: 2em;
  font-weight: lighter;
  text-decoration: none;
}
section.menuPricipal .tituloMenu h1 {
  font-style: italic;
  font-weight: bolder;
  font-size: 3em;
}
section.menuPricipal .tituloMenuprincipal {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: auto;
}
section.menuPricipal .tituloMenuprincipal .registro {
  padding: 1em;
  margin: 1em;
}
section.menuPricipal .tituloMenuprincipal .registro img {
  width: 4em;
  height: 4em;
  border: 1em double black;
}
section.menuPricipal .tituloMenuprincipal .registro:hover {
  transform: scale(1.5);
}
section.menuPricipal .tituloMenuprincipal .carrito {
  padding: 1em;
  margin: 1em;
}
section.menuPricipal .tituloMenuprincipal .carrito img {
  width: 4em;
  height: 4em;
  border: 1em double black;
}
section.menuPricipal .tituloMenuprincipal .carrito:hover {
  transform: scale(1.5);
}

/*/nav/*/
.listas {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
}
.listas ul li {
  list-style-type: none;
  padding: 2em;
}
.listas ul li:hover {
  transform: scale(1.1);
}
.listas ul li a img {
  width: 100%;
  height: 11em;
  border: 0.45em solid black;
}

section.miniBanners {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  align-content: center;
}
section.miniBanners .metodoPago {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}
section.miniBanners .metodoPago img {
  height: 10em;
  width: 13em;
  border: 0.125em solid black;
}
section.miniBanners .metodoPago h2 {
  font-weight: bolder;
  font-size: 2em;
  margin-bottom: 2em;
  text-align: justify;
}
section.miniBanners .contacto {
  display: flex;
  flex-flow: row wrap;
  border: 0.25em double black;
  justify-content: center;
}
section.miniBanners .contacto legend {
  float: none;
  width: 90%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}

/*/redes/*/
section.redes {
  display: flex;
  justify-items: stretch;
  justify-content: center;
}
section.redes h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 2em;
  font-weight: bolder;
}
section.redes ul {
  display: flex;
  list-style-type: none;
  align-content: center;
  flex-direction: column;
}
section.redes ul li {
  margin-bottom: 1em;
}
section.redes ul li:hover {
  transform: scale(1.1);
}
section.redes ul li a {
  width: 5em;
  height: 3em;
}
section.redes ul li a img {
  width: 100px;
  height: 8vh;
  border: 0.5em double black;
}

/*/footer /*/
.footer {
  display: flex;
  background-color: beige;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer .ubicacionC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.footer .ubicacionC h2 {
  text-align: justify;
  font-weight: bolder;
  font-size: 0.85em;
}
.footer .ubicacionC h1 {
  display: flex;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}

/*/declaro area en grilla /*/
header {
  grid-area: index;
}

.menuPricipal {
  grid-area: menuPrincipal;
}

.CarruselMain {
  grid-area: CarruselMain;
}

.listas {
  grid-area: listas;
}

.miniBanners {
  grid-area: miniBanners;
}

.redes {
  grid-area: redes;
}

.footer {
  grid-area: footer;
}

@media (min-width: 580px) {
  .AllIndex {
    align-items: stretch;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(7, auto);
    display: grid;
    gap: 10px;
    grid-template-areas: "index index" "CarruselMain CarruselMain" "menuPrincipal menuPrincipal" "listas listas" "miniBanners miniBanners" "redes redes" "footer footer";
  }
  .CarruselMain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .CarruselMain .carousel-item {
    width: 100vh;
    height: auto;
  }
  header {
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
  }
  section.menuPricipal {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  section.menuPricipal .tituloMenu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: space-between;
    padding: 2em;
    font-weight: lighter;
    text-decoration: none;
  }
  section.menuPricipal .tituloMenu h1 {
    font-style: italic;
    font-weight: bolder;
    font-size: 3em;
  }
  section.menuPricipal .tituloMenuprincipal {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: auto;
  }
  section.menuPricipal .tituloMenuprincipal .registro {
    padding: 1em;
    margin: 1em;
  }
  section.menuPricipal .tituloMenuprincipal .registro img {
    width: 4em;
    height: 4em;
    border: 1em double black;
  }
  section.menuPricipal .tituloMenuprincipal .registro:hover {
    transform: scale(1.5);
  }
  section.menuPricipal .tituloMenuprincipal .carrito {
    padding: 1em;
    margin: 1em;
  }
  section.menuPricipal .tituloMenuprincipal .carrito img {
    width: 4em;
    height: 4em;
    border: 1em double black;
  }
  section.menuPricipal .tituloMenuprincipal carrito:hover {
    transform: scale(1.5);
  }
  /*/nav/*/
  .listas {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
  }
  .listas ul li {
    list-style-type: none;
    padding: 2em;
  }
  .listas ul li:hover {
    transform: scale(1.1);
  }
  .listas ul li a img {
    width: 100%;
    height: 11em;
    border: 1em solid black;
  }
  section.miniBanners {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    align-content: center;
  }
  section.miniBanners .metodoPago {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
  }
  section.miniBanners .metodoPago img {
    height: 10em;
    width: 13em;
    border: 0.125em solid black;
  }
  section.miniBanners .metodoPago h2 {
    font-weight: bolder;
    font-size: 2em;
    margin-bottom: 2em;
    text-align: justify;
  }
  section.miniBanners .contacto {
    display: flex;
    flex-flow: row wrap;
    border: 0.25em double black;
    justify-content: center;
  }
  section.miniBanners .contacto legend {
    float: none;
    width: 90%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: calc(1.275rem + 0.3vw);
    line-height: inherit;
  }
  /*/redes/*/
  section.redes {
    display: flex;
    justify-items: stretch;
    justify-content: center;
  }
  section.redes h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 2em;
    font-weight: bolder;
  }
  section.redes ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    align-content: center;
    flex-direction: column;
  }
  section.redes ul li {
    margin-bottom: 1em;
  }
  section.redes ul li:hover {
    transform: scale(1.1);
  }
  section.redes ul li a {
    width: 5em;
    height: 3em;
  }
  section.redes ul li a img {
    width: 100px;
    height: 8vh;
    border: 0.5em double black;
  }
  /*/footer /*/
  .footer {
    display: flex;
    background-color: beige;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer .ubicacionC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .footer .ubicacionC h2 {
    text-align: justify;
    font-weight: bolder;
  }
  .footer .ubicacionC h1 {
    display: flex;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
  }
}
@media (min-width: 975px) {
  .AllIndex {
    align-items: stretch;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(7, auto);
    display: grid;
    gap: 10px;
    grid-template-areas: "index index " "CarruselMain CarruselMain  " "menuPrincipal menuPrincipal" "listas listas" "miniBanners miniBanners" "redes redes " " footer footer";
  }
  .CarruselMain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .CarruselMain .carousel-item {
    width: 100vh;
    height: auto;
  }
  body {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
  }
  header {
    padding: 7em;
    margin-bottom: 1em;
  }
  header .cabecera .logo img {
    height: 5em;
    width: 5em;
  }
  header .cabecera h1 {
    font-size: 5em;
  }
  header {
    display: flex;
    background-color: beige;
    background-size: cover;
    padding: 2em;
    margin-bottom: 1em;
    justify-content: center;
  }
  header .cabecera {
    display: flex;
  }
  header .cabecera .logo {
    display: flex;
  }
  header .cabecera .logo img {
    height: 4em;
    width: 4em;
  }
  header .cabecera h1 {
    display: flex;
    color: black;
    text-align: center;
    font-style: italic;
    font-size: 3em;
  }
  /*/ index/*/
  section.menuPricipal {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  section.menuPricipal .tituloMenu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: space-between;
    padding: 2em;
    font-weight: lighter;
    text-decoration: none;
  }
  section.menuPricipal .tituloMenu h1 {
    font-style: italic;
    font-weight: bolder;
    font-size: 5em;
  }
  section.menuPricipal .tituloMenuprincipal {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: auto;
  }
  section.menuPricipal .tituloMenuprincipal .registro {
    padding: 1em;
    margin: 1em;
  }
  section.menuPricipal .tituloMenuprincipal .registro img {
    width: 5em;
    height: 5em;
    border: 1em double black;
  }
  section.menuPricipal .tituloMenuprincipal .registro:hover {
    transform: scale(1.5);
  }
  section.menuPricipal .tituloMenuprincipal .carrito {
    padding: 1em;
    margin: 1em;
  }
  section.menuPricipal .tituloMenuprincipal .carrito img {
    width: 5em;
    height: 5em;
    border: 1em double black;
  }
  section.menuPricipal .tituloMenuprincipal carrito:hover {
    transform: scale(1.5);
  }
  /*/nav/*/
  .listas {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: auto;
    justify-content: center;
  }
  .listas ul li {
    list-style-type: none;
    padding: 2em;
  }
  .listas ul li:hover {
    transform: scale(1.1);
  }
  .listas ul li a img {
    width: 100%;
    height: 40vh;
    border: 1em solid black;
  }
  section.miniBanners {
    display: grid;
    grid-template-columns: 55%;
    justify-content: center;
    align-content: center;
  }
  section.miniBanners .metodoPago {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
  }
  section.miniBanners .metodoPago img {
    height: 10em;
    width: 13em;
    border: 0.125em solid black;
  }
  section.miniBanners .metodoPago h2 {
    font-weight: bolder;
    font-size: 3em;
    text-align: justify;
  }
  section.miniBanners .contacto {
    display: flex;
    flex-flow: row wrap;
    border: 0.25em double black;
    justify-content: center;
  }
  section.miniBanners .contacto legend {
    float: none;
    width: 90%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: calc(1.275rem + 0.3vw);
    line-height: inherit;
  }
  /*/redes/*/
  section.redes {
    display: flex;
    padding: auto;
  }
  section.redes h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 2em;
    font-weight: bolder;
  }
  section.redes ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section.redes ul li {
    margin-bottom: 1em;
  }
  section.redes ul li:hover {
    transform: scale(1.1);
  }
  section.redes ul li a {
    width: 5em;
    height: 3em;
  }
  section.redes ul li a img {
    width: 100px;
    height: 8vh;
    border: 0.5em double black;
  }
  /*/footer /*/
  .footer {
    display: flex;
    background-color: beige;
    justify-items: center;
    flex-direction: column;
  }
  .footer .ubicacionC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .footer .ubicacionC h2 {
    text-align: justify;
    font-weight: bolder;
    font-size: 0.8em;
  }
  .footer .ubicacionC h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
  }
}
@media (min-width: 1220px) {
  .AllIndex {
    align-items: stretch;
    height: 100vh;
    color: black;
    font-weight: bolder;
    display: grid;
    font-family: "Roboto", sans-serif;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(7, auto);
    gap: 15px;
    grid-template-areas: " index index  index " "CarruselMain  CarruselMain  CarruselMain " "menuPrincipal menuPrincipal menuPrincipal " "listas  listas  listas " "miniBanners miniBanners miniBanners" "redes redes redes " " footer footer footer ";
  }
  body {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
  }
  .CarruselMain {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0em 20em;
  }
  .CarruselMain .carousel-item {
    width: 100vh;
    height: auto;
  }
  header {
    display: flex;
    background-color: beige;
    background-size: cover;
    padding: 6em;
    justify-content: center;
    margin-bottom: 1em;
  }
  header .cabecera {
    display: flex;
  }
  header .cabecera .logo {
    display: flex;
  }
  header .cabecera .logo img {
    height: 8em;
    width: 8em;
  }
  header .cabecera h1 {
    display: flex;
    color: black;
    text-align: center;
    font-style: italic;
    font-size: 5em;
  }
  /*/ index/*/
  section.menuPricipal {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  section.menuPricipal .tituloMenu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: space-between;
    padding: 2em;
    font-weight: lighter;
    text-decoration: none;
  }
  section.menuPricipal .tituloMenu h1 {
    font-style: italic;
    font-weight: bolder;
    font-size: 7em;
  }
  section.menuPricipal .tituloMenuprincipal {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }
  section.menuPricipal .tituloMenuprincipal .registro {
    padding: 1em;
    margin: 1em;
  }
  section.menuPricipal .tituloMenuprincipal .registro img {
    width: 5em;
    height: 5em;
    border: 1em double black;
  }
  section.menuPricipal .tituloMenuprincipal .registro:hover {
    transform: scale(1.5);
  }
  section.menuPricipal .tituloMenuprincipal .carrito {
    padding: 1em;
    margin: 1em;
  }
  section.menuPricipal .tituloMenuprincipal .carrito img {
    width: 5em;
    height: 5em;
    border: 1em double black;
  }
  section.menuPricipal .tituloMenuprincipal carrito:hover {
    transform: scale(1.5);
  }
  /*/nav/*/
  .listas {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
  }
  .listas ul li {
    list-style-type: none;
    padding: 2em;
  }
  .listas ul li:hover {
    transform: scale(1.1);
  }
  .listas ul li a img {
    width: auto;
    height: 45vh;
    border: 1em solid black;
  }
  section.miniBanners {
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    align-content: center;
  }
  section.miniBanners .metodoPago {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
  }
  section.miniBanners .metodoPago img {
    height: 10em;
    width: 13em;
    border: 0.125em solid black;
  }
  section.miniBanners .metodoPago h2 {
    font-weight: bolder;
    font-size: 3em;
    text-align: justify;
  }
  section.miniBanners .contacto {
    display: flex;
    flex-flow: row wrap;
    border: 0.25em double black;
    justify-content: center;
  }
  section.miniBanners .contacto legend {
    float: none;
    width: 55%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: calc(1.275rem + 0.3vw);
    line-height: inherit;
  }
  /*/redes/*/
  section.redes {
    display: flex;
    padding: auto;
  }
  section.redes h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 2em;
    font-weight: bolder;
  }
  section.redes ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section.redes ul li {
    margin-bottom: 1em;
  }
  section.redes ul li:hover {
    transform: scale(1.1);
  }
  section.redes ul li a {
    width: 5em;
    height: 3em;
  }
  section.redes ul li a img {
    width: auto;
    height: 14vh;
    border: 0.5em double black;
  }
  /*/footer /*/
  .footer {
    display: flex;
    background-color: beige;
    justify-items: center;
    flex-direction: column;
  }
  .footer .ubicacionC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .footer .ubicacionC h2 {
    text-align: justify;
    font-weight: bolder;
    font-size: 0.8em;
  }
  .footer .ubicacionC h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
  }
}
* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: beige;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.HeaderSectores {
  display: grid;
  grid-template-columns: auto;
  background-size: cover;
  padding: 4em;
  background-color: beige;
}

.cabecera {
  display: flex;
  background-size: cover;
  padding: 2em;
  margin-bottom: 1em;
  justify-content: center;
}
.cabecera .cabecera {
  display: flex;
  justify-content: center;
}
.cabecera .cabecera .logo {
  display: flex;
}
.cabecera .cabecera .logo img {
  height: 4em;
  width: 4em;
}
.cabecera .cabecera h1 {
  display: flex;
  color: black;
  text-align: center;
  font-style: italic;
  font-size: 2em;
}

.headerRC {
  display: flex;
  padding: 2em 4em;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.headerRC .registroSector a {
  display: flex;
}
.headerRC .registroSector a img {
  width: 3em;
  height: 3em;
  border: 1em double black;
}
.headerRC .carritoSector a {
  display: flex;
}
.headerRC .carritoSector a img {
  width: 3em;
  height: 3em;
  border: 1em double black;
}

section.cabeceraMain {
  display: grid;
  justify-items: center;
  justify-content: center;
}

.cabeceraSectores {
  display: flex;
  margin-top: 9em;
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}
.cabeceraSectores li {
  background-color: white;
  margin-bottom: 5em;
  margin-top: 0em;
  border: 0.5em double black;
  list-style-type: none;
}
.cabeceraSectores li:hover {
  transform: scale(1.25);
}
.cabeceraSectores li a {
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  list-style-type: none;
  letter-spacing: 0.5em;
  text-align: center;
}

/*/ iphones/*/
section.iphones {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
section.iphones .TituloIphone {
  display: flex;
  font-style: normal;
  font-weight: bolder;
  font-size: 1.25em;
  text-align: center;
  background-color: gray;
  padding: 1em 9em;
  margin: 1em 0em;
}
section.iphones .iphone- {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}
section.iphones .iphone- img {
  height: auto;
  width: 50vh;
}
section.iphones .iphone- .Caracteristica {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 17em;
  margin-top: 3em;
}
section.iphones .iphone- .Caracteristica h2 {
  font-style: oblique;
  font-weight: bolder;
  font-size: 2em;
}
section.iphones .iphone- .Caracteristica li {
  font-size: 1.25em;
  margin-top: 1em;
  font-style: normal;
}

/*/Redes/*/
section.redes {
  display: flex;
  justify-items: stretch;
  justify-content: center;
  flex-direction: column;
  margin-top: 3em;
}
section.redes h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 2em;
  font-weight: bolder;
}
section.redes ul {
  display: flex;
  list-style-type: none;
  align-content: center;
  flex-direction: column;
}
section.redes ul li {
  margin-bottom: 1em;
}
section.redes ul li:hover {
  transform: scale(1.1);
}
section.redes ul li a {
  width: 5em;
  height: 3em;
}
section.redes ul li a img {
  width: 100px;
  height: 8vh;
  border: 0.5em double black;
}

/*/footer /*/
.footer {
  display: flex;
  background-color: beige;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer .ubicacionC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.footer .ubicacionC h2 {
  text-align: justify;
  font-weight: bolder;
  font-size: 0.85em;
}
.footer .ubicacionC h1 {
  display: flex;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}

/*/responsive/*/
.HeaderSectores {
  grid-area: HeaderSectores;
}

.headerRC {
  grid-area: RC;
}

.cabeceraMain {
  grid-area: cabecera;
}

.iphones {
  grid-area: iphones;
}

.redes {
  grid-area: redes;
}

.footer {
  grid-area: footer;
}

@media (min-width: 580px) {
  .AllIphone {
    background-color: beige;
    color: black;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    display: grid;
    align-items: stretch;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(6, auto);
    gap: 20px;
    grid-template: "HeaderSectores HeaderSectores" "RC RC" "cabecera cabecera" "iphoness iphones" "redes redes" "footer footer";
  }
  .HeaderSectores {
    display: grid;
    grid-template-columns: auto;
    background-size: cover;
    padding: 4em;
    background-color: beige;
  }
  .cabecera {
    display: flex;
    background-size: cover;
    padding: 2em;
    margin-bottom: 1em;
    justify-content: center;
  }
  .cabecera .cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cabecera .cabecera .logo {
    display: flex;
  }
  .cabecera .cabecera .logo img {
    height: 8em;
    width: 8em;
  }
  .cabecera .cabecera h1 {
    display: flex;
    color: black;
    text-align: center;
    font-style: italic;
    font-size: 5em;
  }
  .headerRC {
    display: flex;
    padding: 2em 20em;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }
  .headerRC .registroSector a {
    display: flex;
  }
  .headerRC .registroSector a img {
    width: 3em;
    height: 3em;
    border: 1em double black;
  }
  .headerRC .carritoSector a {
    display: flex;
  }
  .headerRC .carritoSector a img {
    width: 3em;
    height: 3em;
    border: 1em double black;
  }
  section.cabeceraMain {
    display: grid;
    justify-items: center;
    justify-content: center;
  }
  .cabeceraSectores {
    display: flex;
    margin-top: 9em;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
  }
  .cabeceraSectores li {
    background-color: white;
    margin-bottom: 5em;
    margin-top: 0em;
    border: 0.5em double black;
    list-style-type: none;
  }
  .cabeceraSectores li:hover {
    transform: scale(1.25);
  }
  .cabeceraSectores li a {
    color: black;
    font-size: 1.5em;
    text-decoration: none;
    list-style-type: none;
    letter-spacing: 1.5em;
    text-align: center;
  }
  /*/ iphones/*/
  section.iphones {
    display: grid;
    grid-area: iphones;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 0em;
  }
  section.iphones .TituloIphone {
    display: flex;
    font-style: normal;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    background-color: gray;
    padding: 3em 9em;
    margin: 2em 3em;
  }
  section.iphones .iphone- {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.iphones .iphone- img {
    height: 600px;
    width: 500px;
  }
  section.iphones .iphone- .Caracteristica {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 17em;
  }
  section.iphones .iphone- .Caracteristica h2 {
    font-style: oblique;
    font-weight: bolder;
    font-size: 4em;
  }
  section.iphones .iphone- .Caracteristica li {
    font-size: 2em;
    font-style: normal;
  }
  /*/Redes/*/
  section.redes {
    display: grid;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 2em;
  }
  section.redes h1 {
    text-align: center;
    font-size: 5em;
    margin-bottom: 1em;
    font-weight: bolder;
  }
  section.redes ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
  }
  section.redes ul a {
    width: 5em;
    height: 3em;
    padding: 2em;
  }
  section.redes img {
    width: 300px;
    height: 100px;
    border: 0.5em double black;
  }
  section.redes .redes ul li:hover {
    transform: scale(1.5);
  }
  /*/footer /*/
  .footer {
    display: grid;
    grid-template-rows: 1fr;
    padding: 2em;
    background-color: beige;
    justify-items: center;
  }
  .footer h1 {
    text-align: justify;
    font-size: 1em;
    font-weight: bolder;
  }
  .footer h1 img {
    height: 10em;
    width: 10em;
  }
}
@media (min-width: 975px) {
  .AllIphone {
    background-color: beige;
    color: black;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    display: grid;
    align-items: stretch;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    gap: 20px;
    grid-template: "HeaderSectores HeaderSectores" "RC RC" "cabecera cabecera" "iphones iphone" "redes redes" "footer footer";
  }
  .HeaderSectores {
    display: grid;
    grid-template-columns: auto;
    background-size: cover;
    padding: 4em;
    background-color: beige;
  }
  .cabecera {
    display: flex;
    background-size: cover;
    padding: 2em;
    margin-bottom: 1em;
    justify-content: center;
  }
  .cabecera .cabecera {
    display: flex;
    justify-content: center;
  }
  .cabecera .cabecera .logo {
    display: flex;
  }
  .cabecera .cabecera .logo img {
    height: 4em;
    width: 4em;
  }
  .cabecera .cabecera h1 {
    display: flex;
    color: black;
    text-align: center;
    font-style: italic;
    font-size: 2em;
  }
  .headerRC {
    display: flex;
    padding: 2em 4em;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .headerRC .registroSector a {
    display: flex;
  }
  .headerRC .registroSector a img {
    width: 3em;
    height: 3em;
    border: 1em double black;
  }
  .headerRC .carritoSector a {
    display: flex;
  }
  .headerRC .carritoSector a img {
    width: 3em;
    height: 3em;
    border: 1em double black;
  }
  section.cabeceraMain {
    display: grid;
    justify-items: center;
    justify-content: center;
  }
  .cabeceraSectores {
    display: flex;
    margin-top: 9em;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
  }
  .cabeceraSectores li {
    background-color: white;
    margin-bottom: 5em;
    margin-top: 0em;
    border: 0.5em double black;
    list-style-type: none;
  }
  .cabeceraSectores li:hover {
    transform: scale(1.25);
  }
  .cabeceraSectores li a {
    color: black;
    font-size: 2.5em;
    text-decoration: none;
    list-style-type: none;
    letter-spacing: 1em;
    text-align: center;
  }
  /*/ iphones/*/
  section.iphones {
    display: grid;
    grid-area: iphones;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 0em;
  }
  section.iphones .TituloIphone {
    display: flex;
    font-style: normal;
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
    background-color: gray;
    padding: 0em 9em;
    margin: 2em 3em;
  }
  section.iphones .iphone- {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }
  section.iphones .iphone- img {
    height: 600px;
    width: 500px;
  }
  section.iphones .iphone- .Caracteristica {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 17em;
  }
  section.iphones .iphone- .Caracteristica h2 {
    font-style: oblique;
    font-weight: bolder;
    font-size: 4em;
  }
  section.iphones .iphone- .Caracteristica li {
    font-size: 2em;
    font-style: normal;
  }
  /*/Redes/*/
  section.redes {
    display: grid;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 2em;
  }
  section.redes h1 {
    text-align: center;
    font-size: 5em;
    margin-bottom: 1em;
    font-weight: bolder;
  }
  section.redes ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
  }
  section.redes ul a {
    width: 5em;
    height: 3em;
    padding: 2em;
  }
  section.redes img {
    width: auto;
    height: 13vh;
    border: 0.5em double black;
  }
  section.redes .redes ul li:hover {
    transform: scale(1.5);
  }
  /*/footer /*/
  .footer {
    display: grid;
    grid-template-rows: 1fr;
    padding: 2em;
    background-color: beige;
    justify-items: center;
  }
  .footer h1 {
    text-align: justify;
    font-size: 5em;
    font-weight: bolder;
  }
  .footer img {
    height: 10em;
    width: 10em;
  }
}
@media (min-width: 1220px) {
  .AllIphone {
    background-color: beige;
    color: black;
    height: 100vh;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(6, auto);
    gap: 20px;
    grid-template: "HeaderSectores HeaderSectores HeaderSectores" "RC RC RC" "cabecera cabecera cabecera" "iphones iphone iphone" "redes  redes redes" "footer  footer footer";
  }
  .HeaderSectores {
    display: grid;
    grid-template-columns: auto;
    background-size: cover;
    padding: 4em;
    background-color: beige;
  }
  .cabecera {
    display: flex;
    background-size: cover;
    padding: 2em;
    margin-bottom: 1em;
    justify-content: center;
  }
  .cabecera .cabecera {
    display: flex;
    justify-content: center;
  }
  .cabecera .cabecera .logo {
    display: flex;
  }
  .cabecera .cabecera .logo img {
    height: 4em;
    width: 4em;
  }
  .cabecera .cabecera h1 {
    display: flex;
    color: black;
    text-align: center;
    font-style: italic;
    font-size: 2em;
  }
  .headerRC {
    display: flex;
    padding: 2em 4em;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .headerRC .registroSector a {
    display: flex;
  }
  .headerRC .registroSector a img {
    width: 3em;
    height: 3em;
    border: 1em double black;
  }
  .headerRC .carritoSector a {
    display: flex;
  }
  .headerRC .carritoSector a img {
    width: 3em;
    height: 3em;
    border: 1em double black;
  }
  section.cabeceraMain {
    display: grid;
    justify-items: center;
    justify-content: center;
  }
  .cabeceraSectores {
    display: flex;
    margin-top: 9em;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
  }
  .cabeceraSectores li {
    background-color: white;
    margin-bottom: 5em;
    margin-top: 0em;
    border: 0.5em double black;
    list-style-type: none;
  }
  .cabeceraSectores li:hover {
    transform: scale(1.25);
  }
  .cabeceraSectores li a {
    color: black;
    font-size: 2.5em;
    text-decoration: none;
    list-style-type: none;
    letter-spacing: 1em;
    text-align: center;
  }
  /*/ iphones/*/
  section.iphones {
    display: grid;
    grid-area: iphones;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 0em;
  }
  section.iphones .TituloIphone {
    display: flex;
    font-style: normal;
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
    background-color: gray;
    padding: 0em 9em;
    margin: 2em 3em;
  }
  section.iphones .iphone- {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }
  section.iphones .iphone- img {
    height: 600px;
    width: 500px;
  }
  section.iphones .iphone- .Caracteristica {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 17em;
  }
  section.iphones .iphone- .Caracteristica h2 {
    font-style: oblique;
    font-weight: bolder;
    font-size: 4em;
  }
  section.iphones .iphone- .Caracteristica li {
    font-size: 2em;
    font-style: normal;
  }
  /*/Redes/*/
  section.redes {
    display: grid;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 2em;
  }
  section.redes h1 {
    text-align: center;
    font-size: 5em;
    margin-bottom: 1em;
    font-weight: bolder;
  }
  section.redes ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
  }
  section.redes ul a {
    width: 5em;
    height: 3em;
    padding: 2em;
  }
  section.redes img {
    width: auto;
    height: 13vh;
    border: 0.5em double black;
  }
  section.redes .redes ul li:hover {
    transform: scale(1.5);
  }
  /*/footer /*/
  .footer {
    display: grid;
    grid-template-rows: 1fr;
    padding: 2em;
    background-color: beige;
    justify-items: center;
  }
  .footer h1 {
    text-align: justify;
    font-size: 5em;
    font-weight: bolder;
  }
  .footer img {
    height: 10em;
    width: 10em;
  }
}
/*/ipads/mac/*/
* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: beige;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.HeaderSectores {
  display: grid;
  grid-template-columns: auto;
  background-size: cover;
  padding: 4em;
  background-color: beige;
}

.cabecera {
  display: flex;
  background-size: cover;
  padding: 2em;
  margin-bottom: 1em;
  justify-content: center;
}
.cabecera .cabecera {
  display: flex;
  justify-content: center;
}
.cabecera .cabecera .logo {
  display: flex;
}
.cabecera .cabecera .logo img {
  height: 4em;
  width: 4em;
}
.cabecera .cabecera h1 {
  display: flex;
  color: black;
  text-align: center;
  font-style: italic;
  font-size: 2em;
}

.headerRC {
  display: flex;
  padding: 2em 4em;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.headerRC .registroSector a {
  display: flex;
}
.headerRC .registroSector a img {
  width: 3em;
  height: 3em;
  border: 1em double black;
}
.headerRC .carritoSector a {
  display: flex;
}
.headerRC .carritoSector a img {
  width: 3em;
  height: 3em;
  border: 1em double black;
}

section.cabeceraMain {
  display: grid;
  justify-items: center;
  justify-content: center;
}

.cabeceraSectores {
  display: flex;
  margin-top: 9em;
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}
.cabeceraSectores li {
  background-color: white;
  margin-bottom: 5em;
  margin-top: 0em;
  border: 0.5em double black;
  list-style-type: none;
}
.cabeceraSectores li:hover {
  transform: scale(1.25);
}
.cabeceraSectores li a {
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  list-style-type: none;
  letter-spacing: 0.5em;
  text-align: center;
}

.ipadsMac {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
  /*/ ipads/*/
}
.ipadsMac section.ipadsMac {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.ipadsMac section.ipadsMac .TituloIpad {
  display: flex;
  font-style: normal;
  font-weight: bolder;
  font-size: 1.25em;
  text-align: center;
  background-color: gray;
  padding: 1em 9em;
  margin: 1em 0em;
}
.ipadsMac section.ipadsMac .ipad- {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}
.ipadsMac section.ipadsMac .ipad- img {
  height: auto;
  width: 50vh;
}
.ipadsMac section.ipadsMac .ipad- .Caracteristicas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 17em;
  margin-top: 3em;
}
.ipadsMac section.ipadsMac .ipad- .Caracteristicas H2 {
  font-style: oblique;
  font-weight: bolder;
  font-size: 2em;
}
.ipadsMac section.ipadsMac .ipad- .Caracteristicas li {
  font-size: 1.25em;
  margin-top: 1em;
  font-style: normal;
}

/*/Redes/*/
section.redes {
  display: flex;
  justify-items: stretch;
  justify-content: center;
}
section.redes h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 2em;
  font-weight: bolder;
}
section.redes ul {
  display: flex;
  list-style-type: none;
  align-content: center;
  flex-direction: column;
}
section.redes ul li {
  margin-bottom: 1em;
}
section.redes ul li:hover {
  transform: scale(1.1);
}
section.redes ul li a {
  width: 5em;
  height: 3em;
}
section.redes ul li a img {
  width: 100px;
  height: 8vh;
  border: 0.5em double black;
}

/*/Redes/*/
section.redes {
  display: flex;
  justify-items: stretch;
  justify-content: center;
  flex-direction: column;
  margin-top: 3em;
}
section.redes h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 2em;
  font-weight: bolder;
}
section.redes ul {
  display: flex;
  list-style-type: none;
  align-content: center;
  flex-direction: column;
}
section.redes ul li {
  margin-bottom: 1em;
}
section.redes ul li:hover {
  transform: scale(1.1);
}
section.redes ul li a {
  width: 5em;
  height: 3em;
}
section.redes ul li a img {
  width: 100px;
  height: 8vh;
  border: 0.5em double black;
}

/*/footer /*/
.footer {
  display: flex;
  background-color: beige;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer .ubicacionC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.footer .ubicacionC h2 {
  text-align: justify;
  font-weight: bolder;
  font-size: 0.85em;
}
.footer .ubicacionC h1 {
  display: flex;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}

@media (min-width: 580px) {
  .envolventeMac {
    align-items: stretch;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    display: grid;
    gap: 10px;
    grid-template-areas: "header" "cabecera" "ipadsMac" "footer";
  }
}
@media (min-width: 975px) {
  .envolventeMac {
    align-items: stretch;
    height: 100vh;
    color: black;
    font-weight: bolder;
    display: grid;
    font-family: "Roboto", sans-serif;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(7, auto);
    gap: 15px;
    grid-template-areas: "header header" "cabecera cabecera" "ipadsMac ipadsMac" "footer footer ";
  }
}
@media (min-width: 1220px) {
  .envolventeMac {
    align-items: stretch;
    height: 100vh;
    color: black;
    font-weight: bolder;
    display: grid;
    font-family: "Roboto", sans-serif;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(7, auto);
    gap: 15px;
    grid-template-areas: "header header header" "cabecera cabecera cabecera" "ipadsMac  ipadsMac ipadsMac" "footer footer footer";
  }
}
/*/Redes/*/
section.redes {
  display: flex;
  justify-items: stretch;
  justify-content: center;
}
section.redes h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 2em;
  font-weight: bolder;
}
section.redes ul {
  display: flex;
  list-style-type: none;
  align-content: center;
  flex-direction: column;
}
section.redes ul li {
  margin-bottom: 1em;
}
section.redes ul li:hover {
  transform: scale(1.1);
}
section.redes ul li a {
  width: 5em;
  height: 3em;
}
section.redes ul li a img {
  width: 100px;
  height: 8vh;
  border: 0.5em double black;
}

/*/footer /*/
.footer {
  display: flex;
  background-color: beige;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer .ubicacionC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.footer .ubicacionC h2 {
  text-align: justify;
  font-weight: bolder;
  font-size: 0.85em;
}
.footer .ubicacionC h1 {
  display: flex;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}

/*/Redes/*/
* {
  padding: 0px;
  margin: 0px;
}

section.redes {
  display: flex;
  justify-items: stretch;
  justify-content: center;
}
section.redes h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 2em;
  font-weight: bolder;
}
section.redes ul {
  display: flex;
  list-style-type: none;
  align-content: center;
  flex-direction: column;
}
section.redes ul li {
  margin-bottom: 1em;
}
section.redes ul li:hover {
  transform: scale(1.1);
}
section.redes ul li a {
  width: 5em;
  height: 3em;
}
section.redes ul li a img {
  width: 100px;
  height: 8vh;
  border: 0.5em double black;
}

/*/footer /*/
.footer {
  display: flex;
  background-color: beige;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer .ubicacionC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.footer .ubicacionC h2 {
  text-align: justify;
  font-weight: bolder;
  font-size: 0.85em;
}
.footer .ubicacionC h1 {
  display: flex;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}

/*DECALARACION DE AREA*/
.HeaderSectores {
  grid-area: HeaderSectores;
}

.headerRC {
  grid-area: RC;
}

.cabeceraMain {
  grid-area: cabecera;
}

.listamatenimiento {
  grid-area: listamatenimiento;
}

.redes {
  grid-area: redes;
}

.footer {
  grid-area: footer;
}

.AllServicio {
  background-color: aquamarine;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 10px;
  grid-template-areas: "HeaderSectores" "cabeceraMain" "listamatenimiento" "redes" "footer";
}

@media (min-width: 580px) {
  .AllServicio {
    background-color: aquamarine;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 10px;
    grid-template-areas: "HeaderSectores" "cabeceraMain" "listamatenimiento" "redes" "footer";
  }
}/*# sourceMappingURL=estilos.css.map */